xhtml5/rng/applications.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://whattf.org/datatype-draft">
  <!-- ##################################################################### -->
  <define name="common.attrs.interact" combine="interleave">
    <a:documentation> RELAX NG Schema for HTML 5: Web Application Features              #</a:documentation>
    <!-- ##################################################################### -->
    <a:documentation>Additions to Common Attributes</a:documentation>
    <interleave>
      <optional>
        <ref name="common.attrs.contenteditable"/>
      </optional>
      <optional>
        <ref name="common.attrs.draggable"/>
      </optional>
      <optional>
        <ref name="common.attrs.hidden"/>
      </optional>
      <optional>
        <ref name="common.attrs.spellcheck"/>
      </optional>
      <optional>
        <ref name="common.attrs.autocapitalize"/>
      </optional>
    </interleave>
  </define>
  <define name="common.attrs.other" combine="interleave">
    <ref name="common.attrs.interact"/>
  </define>
  <define name="common.attrs.contenteditable">
    <a:documentation>Editable Content: contenteditable</a:documentation>
    <attribute name="contenteditable">
      <choice>
        <value type="string">true</value>
        <value type="string">false</value>
        <value type="string"/>
      </choice>
    </attribute>
  </define>
  <define name="common.attrs.draggable">
    <a:documentation>Draggable Element: draggable</a:documentation>
    <attribute name="draggable">
      <choice>
        <value type="string">true</value>
        <value type="string">false</value>
      </choice>
    </attribute>
  </define>
  <define name="common.attrs.hidden">
    <a:documentation>Hidden Element: hidden</a:documentation>
    <attribute name="hidden">
      <choice>
        <value type="string">hidden</value>
        <value type="string"/>
      </choice>
    </attribute>
  </define>
  <define name="common.attrs.spellcheck">
    <a:documentation>Spellchecking and grammar checking: spellcheck</a:documentation>
    <attribute name="spellcheck">
      <choice>
        <value type="string">true</value>
        <value type="string">false</value>
        <value type="string"/>
      </choice>
    </attribute>
  </define>
  <define name="common.attrs.autocapitalize">
    <a:documentation>Autocapitalization</a:documentation>
    <attribute name="autocapitalize">
      <choice>
        <value type="string">off</value>
        <value type="string">none</value>
        <value type="string">on</value>
        <value type="string">sentences</value>
        <value type="string">words</value>
        <value type="string">characters</value>
      </choice>
    </attribute>
  </define>
  <define name="html.attrs.manifest">
    <a:documentation>Application Cache: manifest</a:documentation>
    <attribute name="manifest">
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="html.attrs" combine="interleave">
    <optional>
      <ref name="html.attrs.manifest"/>
    </optional>
  </define>
  <define name="progress.elem">
    <a:documentation>Progess Indicator: &lt;progress&gt;</a:documentation>
    <element name="progress">
      <interleave>
        <ref name="progress.inner"/>
        <ref name="progress.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="progress.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="progress.attrs.value"/>
      </optional>
      <optional>
        <ref name="progress.attrs.max"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.progressbar"/>
          <ref name="common.attrs.aria.role.progressbar"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="progress.attrs.value">
    <attribute name="value">
      <ref name="common.data.float.non-negative"/>
    </attribute>
  </define>
  <define name="progress.attrs.max">
    <attribute name="max">
      <ref name="common.data.float.positive"/>
    </attribute>
  </define>
  <define name="progress.inner">
    <ref name="common.inner.phrasing"/>
  </define>
  <!-- Cannot enforce textContent format here -->
  <define name="common.elem.phrasing" combine="choice">
    <ref name="progress.elem"/>
  </define>
  <define name="dialog.elem">
    <a:documentation>Dialog box, inspector, or window: &lt;dialog&gt;</a:documentation>
    <element name="dialog">
      <interleave>
        <ref name="dialog.inner"/>
        <ref name="dialog.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="dialog.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="dialog.attrs.open"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.dialog"/>
          <ref name="common.attrs.aria.role.alert"/>
          <ref name="common.attrs.aria.role.alertdialog"/>
          <ref name="common.attrs.aria.role.application"/>
          <ref name="common.attrs.aria.role.contentinfo"/>
          <ref name="common.attrs.aria.role.dialog"/>
          <ref name="common.attrs.aria.role.log"/>
          <ref name="common.attrs.aria.role.marquee"/>
          <ref name="common.attrs.aria.role.region"/>
          <ref name="common.attrs.aria.role.status"/>
          <ref name="common.attrs.aria.landmark.document"/>
          <ref name="common.attrs.aria.landmark.main"/>
          <ref name="common.attrs.aria.landmark.search"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="dialog.attrs.open">
    <attribute name="open">
      <choice>
        <value type="string">open</value>
        <value type="string"/>
      </choice>
    </attribute>
  </define>
  <define name="dialog.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="dialog.elem"/>
  </define>
  <define name="menu.elem">
    <a:documentation>Toolbar: &lt;menu&gt;</a:documentation>
    <interleave>
      <element name="menu">
        <interleave>
          <ref name="menu.inner"/>
          <ref name="menu.attrs"/>
        </interleave>
      </element>
      <ref name="nonW3C"/>
    </interleave>
  </define>
  <define name="menu.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.toolbar"/>
          <ref name="common.attrs.aria.role.directory"/>
          <ref name="common.attrs.aria.role.list"/>
          <ref name="common.attrs.aria.role.listbox"/>
          <ref name="common.attrs.aria.role.menu"/>
          <ref name="common.attrs.aria.role.menubar"/>
          <ref name="common.attrs.aria.role.tablist"/>
          <ref name="common.attrs.aria.role.toolbar"/>
          <ref name="common.attrs.aria.role.tree"/>
          <ref name="common.attrs.aria.role.presentation"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="menu.inner">
    <interleave>
      <zeroOrMore>
        <ref name="mli.elem"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="common.elem.script-supporting"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="menu.elem"/>
  </define>
  <define name="mli.elem">
    <a:documentation>Toolbar item: &lt;li&gt;</a:documentation>
    <element name="li">
      <interleave>
        <ref name="mli.inner"/>
        <ref name="mli.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="mli.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.listitem"/>
          <ref name="common.attrs.aria.role.menuitem"/>
          <ref name="common.attrs.aria.role.menuitemcheckbox"/>
          <ref name="common.attrs.aria.role.menuitemradio"/>
          <ref name="common.attrs.aria.role.option"/>
          <ref name="common.attrs.aria.role.tab"/>
          <ref name="common.attrs.aria.role.treeitem"/>
          <ref name="common.attrs.aria.role.presentation"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="mli.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="canvas.elem.flow">
    <a:documentation>Canvas for Dynamic Graphics: &lt;canvas&gt;</a:documentation>
    <element name="canvas">
      <interleave>
        <ref name="canvas.inner.flow"/>
        <ref name="canvas.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="canvas.elem.phrasing">
    <element name="canvas">
      <interleave>
        <ref name="canvas.inner.phrasing"/>
        <ref name="canvas.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="canvas.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="canvas.attrs.height"/>
      </optional>
      <optional>
        <ref name="canvas.attrs.width"/>
      </optional>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="canvas.attrs.height">
    <attribute name="height">
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="canvas.attrs.width">
    <attribute name="width">
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="canvas.inner.flow">
    <ref name="common.inner.transparent.flow"/>
  </define>
  <define name="canvas.inner.phrasing">
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="canvas.elem.flow"/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="canvas.elem.phrasing"/>
  </define>
  <define name="details.elem">
    <a:documentation>Additional On-Demand Information: &lt;details&gt;</a:documentation>
    <element name="details">
      <interleave>
        <ref name="details.inner"/>
        <ref name="details.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="details.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="details.attrs.open"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.group"/>
          <!-- aria-expanded must be true if open attr present; check by assertions -->
          <ref name="common.attrs.aria.role.group"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="details.attrs.open">
    <attribute name="open">
      <choice>
        <value type="string">open</value>
        <value type="string"/>
      </choice>
    </attribute>
  </define>
  <define name="details.inner">
    <ref name="summary.elem"/>
    <ref name="common.inner.flow"/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="details.elem"/>
  </define>
  <define name="summary.elem">
    <a:documentation>Caption/summary for details element: &lt;summary&gt;</a:documentation>
    <element name="summary">
      <interleave>
        <ref name="summary.inner"/>
        <ref name="summary.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="summary.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.button"/>
          <ref name="common.attrs.aria.role.button"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="summary.inner">
    <choice>
      <ref name="common.inner.phrasing"/>
      <ref name="h1.elem"/>
      <ref name="h2.elem"/>
      <ref name="h3.elem"/>
      <ref name="h4.elem"/>
      <ref name="h5.elem"/>
      <ref name="h6.elem"/>
      <ref name="hgroup.elem"/>
    </choice>
  </define>
</grammar>
