xhtml5/rng/datatypes.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <div xml:id="datatypes-common">
    <define name="datatype.ID">
      <ref name="datatype.ID.lexical"/>
    </define>
    <define name="datatype.IDREF">
      <ref name="datatype.IDREF.lexical"/>
    </define>
    <define name="datatype.IDREFS">
      <ref name="datatype.IDREFS.lexical"/>
    </define>
    <define name="datatype.languagecode">
      <ref name="datatype.BCP47"/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#language -->
    <define name="datatype.BCP47">
      <data type="language">
        <param name="pattern">[a-zA-Z]{1,8}(-[a-zA-Z0-9]{1,8})*</param>
      </data>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#ID  -->
    <define name="datatype.ID.xsd">
      <data type="ID"/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#NCName -->
    <define name="datatype.IDREF.lexical">
      <data type="NCName"/>
    </define>
    <define name="datatype.IDREFS.lexical">
      <list>
        <oneOrMore>
          <ref name="datatype.IDREF.lexical"/>
        </oneOrMore>
      </list>
    </define>
    <define name="datatype.ID.lexical">
      <data type="NCName"/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#IDREF -->
    <define name="datatype.IDREF.xsd">
      <data type="IDREF"/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#IDREFS -->
    <define name="datatype.IDREFS.xsd">
      <data type="IDREFS"/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#NMTOKEN -->
    <define name="datatype.NMTOKEN">
      <data type="NMTOKEN"/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#NMTOKENS  -->
    <define name="datatype.NMTOKENS">
      <data type="NMTOKENS"/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#string -->
    <define name="datatype.string">
      <data type="string"/>
    </define>
    <define name="datatype.string.nonempty">
      <data type="token">
        <param name="minLength">1</param>
      </data>
    </define>
    <define name="datatype.text">
      <text/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#nt-dateRep -->
    <define name="datatype.date">
      <data type="date"/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#nt-dateTimeRep -->
    <define name="datatype.dateTime">
      <data type="dateTime"/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#nt-timeRep -->
    <define name="datatype.date.or.dateTime">
      <choice>
        <ref name="datatype.date"/>
        <ref name="datatype.dateTime"/>
      </choice>
    </define>
    <define name="datatype.LEIRI">
      <data type="anyURI"/>
    </define>
    <!--
      http://www.w3.org/TR/xmlschema11-2/#anyURI
      http://tools.ietf.org/html/rfc3986#appendix-B
      http://www.w3.org/TR/html5/urls.html#valid-url-potentially-surrounded-by-spaces  
    -->
    <define name="datatype.URI">
      <data type="anyURI"/>
    </define>
    <define name="datatype.URI.absolute">
      <data type="anyURI"/>
    </define>
    <define name="datatype.IRI">
      <ref name="datatype.URI"/>
    </define>
    <define name="datatype.character.encoding">
      <ref name="datatype.iana.charset"/>
    </define>
    <define name="datatype.iana.charset">
      <data type="NMTOKEN"/>
    </define>
    <!--
      http://www.w3.org/TR/html5/infrastructure.html#valid-mime-type
      http://tools.ietf.org/html/rfc4288#section-4.2
      http://tools.ietf.org/html/rfc2616#section-3.7
    -->
    <define name="datatype.mimetype">
      <data type="string">
        <param name="pattern">[a-zA-Z0-9!#$&amp;+\-\^_]+/[a-zA-Z0-9!#$&amp;+\-\^_]+.*</param>
      </data>
    </define>
    <define name="datatype.mimetype.nocharset">
      <ref name="datatype.mimetype"/>
    </define>
    <!--
      http://www.w3.org/TR/xmlschema11-2/#nonNegativeInteger
      http://www.w3.org/TR/html5/common-microsyntaxes.html#non-negative-integers
    -->
    <define name="datatype.non-negative.integer">
      <data type="nonNegativeInteger"/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#positiveInteger -->
    <define name="datatype.positive.integer">
      <data type="positiveInteger"/>
    </define>
    <!-- http://www.w3.org/TR/xmlschema11-2/#integer  -->
    <define name="datatype.integer">
      <data type="integer"/>
    </define>
    <!--
      http://www.w3.org/TR/xmlschema11-2/#nt-floatRep
      http://www.w3.org/TR/html5/common-microsyntaxes.html#real-numbers
    -->
    <define name="datatype.float">
      <data type="float"/>
    </define>
    <define name="datatype.float.positive">
      <data type="float">
        <param name="minExclusive">0</param>
      </data>
    </define>
    <define name="datatype.float.non-negative">
      <data type="float">
        <param name="minInclusive">0</param>
      </data>
    </define>
    <define name="datatype.token">
      <data type="string">
        <param name="pattern">[^\s]+</param>
      </data>
    </define>
    <define name="datatype.space.separated.tokens">
      <list>
        <zeroOrMore>
          <ref name="datatype.token"/>
        </zeroOrMore>
      </list>
    </define>
  </div>
  <div xml:id="datatypes-smil">
    <!--
      http://www.w3.org/TR/smil/smil-timing.html#TimingSyntax-Full-clock-value
      http://www.w3.org/TR/smil/smil-timing.html#TimingSyntax-Partial-clock-value
      http://www.w3.org/TR/smil/smil-timing.html#TimingSyntax-Timecount-value
    -->
    <define name="datatype.smil.npt">
      <choice>
        <data type="string">
          <param name="pattern">(\s*)[0-9]+:[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(\s*)</param>
        </data>
        <data type="string">
          <param name="pattern">(\s*)[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(\s*)</param>
        </data>
        <data type="string">
          <param name="pattern">(\s*)[0-9]+(\.[0-9]+)?(h|min|s|ms)?(\s*)</param>
        </data>
      </choice>
    </define>
  </div>
  <div xml:id="datatypes-vocab">
    <define name="datatype.property">
      <data type="NMTOKEN"/>
    </define>
    <define name="datatype.properties">
      <data type="NMTOKENS"/>
    </define>
    <define name="datatype.prefixdecl">
      <text/>
    </define>
    <!-- \s*([\i-[:]][\c-[:]]*: +[^ ]+)(\s+[\i-[:]][\c-[:]]*: +[^ ]+)*\s* -->
  </div>
  <div xml:id="datatypes-ssml">
    <!-- http://www.w3.org/TR/speech-synthesis11/#edef_phoneme -->
    <define name="datatype.ssml.PhoneticExpression">
      <data type="string"/>
    </define>
    <define name="datatype.ssml.PhoneticAlphabet">
      <data type="string">
        <param name="pattern">(ipa|x-.+)</param>
      </data>
    </define>
  </div>
  <div xml:id="datatypes-html5">
    <define name="datatype.html5.browsing.context.name.or.keyword">
      <data type="string">
        <param name="pattern">()|([^_].*)|(_[bB][lL][aA][nN][kK])|(_[sS][eE][lL][fF])|(_[pP][aA][rR][eE][nN][tT])|(_[tT][oO][pP])</param>
      </data>
    </define>
    <define name="datatype.html5.browsing.context.name">
      <data type="string">
        <param name="pattern">()|([^_].*)</param>
      </data>
    </define>
    <define name="datatype.html5.token">
      <data type="string">
        <param name="pattern">[^\s]+</param>
      </data>
    </define>
    <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#space-separated-tokens -->
    <define name="datatype.html5.space.separated.tokens">
      <list>
        <zeroOrMore>
          <ref name="datatype.html5.token"/>
        </zeroOrMore>
      </list>
    </define>
    <define name="datatype.html5.ordered.set.unique.tokens">
      <ref name="datatype.html5.space.separated.tokens"/>
    </define>
    <define name="datatype.html5.URL.spaces">
      <ref name="datatype.URI"/>
    </define>
    <!--
      http://dev.w3.org/csswg/css3-mediaqueries/#syntax
      http://www.w3.org/TR/html5/common-microsyntaxes.html#mq
    -->
    <define name="datatype.html5.media.query">
      <data type="string"/>
    </define>
    <define name="datatype.html5.name">
      <data type="string"/>
    </define>
    <define name="datatype.html5.name.reference">
      <data type="string">
        <param name="pattern">#.+</param>
      </data>
    </define>
    <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#months -->
    <define name="datatype.html5.month">
      <data type="token">
        <param name="pattern">([0-9]{4,})-([0-9]{2})</param>
      </data>
    </define>
    <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#dates -->
    <define name="datatype.html5.date">
      <data type="token">
        <param name="pattern">([0-9]{4,})-([0-9]{2})-([0-9]{2})</param>
      </data>
    </define>
    <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#times -->
    <define name="datatype.html5.time">
      <data type="token">
        <param name="pattern">([0-9]{2}):([0-9]{2})(:[0-9]{2}(\.[0-9]+)?)?</param>
      </data>
    </define>
    <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#local-dates-and-times -->
    <define name="datatype.html5.datetime.local">
      <data type="token">
        <param name="pattern">([0-9]{4,})-([0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2})(:[0-9]{2}(\.[0-9]+)?)?</param>
      </data>
    </define>
    <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#global-dates-and-times -->
    <define name="datatype.html5.datetime.global">
      <data type="token">
        <param name="pattern">([0-9]{4,})-([0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2})(:[0-9]{2}(\.[0-9]+)?)?(Z|((\+|-)([0-9]{2}):([0-9]{2})))</param>
      </data>
    </define>
    <define name="datatype.html5.datetime">
      <ref name="datatype.html5.datetime.global"/>
    </define>
    <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#vaguer-moments-in-time -->
    <define name="datatype.html5.date.or.time">
      <choice>
        <ref name="datatype.html5.date"/>
        <ref name="datatype.html5.month"/>
        <ref name="datatype.html5.time"/>
        <ref name="datatype.html5.datetime.global"/>
      </choice>
    </define>
    <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#vaguer-moments-in-time -->
    <define name="datatype.html5.date.optional.time">
      <choice>
        <ref name="datatype.html5.date"/>
        <ref name="datatype.html5.datetime.global"/>
      </choice>
    </define>
    <define name="datatype.html5.week">
      <data type="token">
        <param name="pattern">([0-9]{4,})-W([0-9]{2})</param>
      </data>
    </define>
    <define name="datatype.html5.accesskey">
      <ref name="datatype.html5.ordered.set.unique.tokens"/>
    </define>
    <define name="datatype.html5.coords.rectangle">
      <data type="token">
        <param name="pattern">-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+</param>
      </data>
    </define>
    <define name="datatype.html5.coords.circle">
      <data type="token">
        <param name="pattern">-?[0-9]+,-?[0-9]+,[0-9]+</param>
      </data>
    </define>
    <define name="datatype.html5.coords.poly">
      <data type="token">
        <param name="pattern">-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+(,-?[0-9]+,-?[0-9]+)*</param>
      </data>
    </define>
    <define name="datatype.html5.js">
      <data type="string"/>
    </define>
    <define name="datatype.html5.script">
      <data type="string"/>
    </define>
    <define name="datatype.html5.script.documentation">
      <data type="string"/>
    </define>
    <define name="datatype.html5.iframe.srcdoc.xml">
      <data type="string"/>
    </define>
    <define name="datatype.style">
      <data type="string"/>
    </define>
    <define name="datatype.html5.sizes">
      <list>
        <oneOrMore>
          <data type="string">
            <param name="pattern">[1-9][0-9]*x[1-9][0-9]*</param>
          </data>
        </oneOrMore>
      </list>
    </define>
    <define name="datatype.html5.emailaddress">
      <data type="string">
        <param name="pattern">[^@]+@[^@]+</param>
      </data>
    </define>
    <define name="datatype.html5.emailaddresslist">
      <data type="string">
        <param name="pattern">([^@]+@[^@]+,)*([^@]+@[^@]+)</param>
      </data>
    </define>
    <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#colors -->
    <define name="datatype.html5.color">
      <data type="string">
        <param name="pattern">#([A-Fa-f0-9]{6})</param>
      </data>
    </define>
  </div>
  <div xml:id="datatypes-html5forms">
    <define name="datatype.html5.forms.mimetypelist">
      <data type="string"/>
    </define>
    <!-- http://www.w3.org/TR/html5/forms.html#attr-form-accept-charset -->
    <define name="datatype.html5.forms.charsetlist">
      <list>
        <oneOrMore>
          <ref name="datatype.character.encoding"/>
        </oneOrMore>
      </list>
    </define>
    <define name="datatype.html5.forms.pattern">
      <data type="string"/>
    </define>
    <define name="datatype.html5.forms.string.nolinebreaks">
      <data type="string"/>
    </define>
  </div>
</grammar>
