xhtml5/rng/epub-xhtml-mathml3-30.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="html5.phrasing.class" combine="choice">
    <ref name="math"/>
  </define>
  <define name="html5.flow.class" combine="choice">
    <ref name="math"/>
  </define>
  <define name="math">
    <externalRef href="epub-mathml3-30.rng"/>
  </define>
</grammar>
